<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.amazon.mapper.AmzVcDailySalesMapper">
    <resultMap id="BaseResultMap" type="com.spider.amazon.entity.AmzVcDailySales">
        <result column="Asin" jdbcType="VARCHAR" property="asin"/>
    </resultMap>

    <sql id="Base_Column_List">
        *
    </sql>

    <update id="insert" parameterType="com.spider.amazon.entity.AmzVcDailySales">
        insert into AmazonVCDailySales ("Asin", "ProductTitle", "ShippedCogs", "ShippedCogsOfTotal",
                                        "ShippedCogsPriorPeriod", "ShippedCogsLastYear", "ShippedUnits",
                                        "ShippedUnitsOfTotal", "ShippedUnitsPriorPeriod", "ShippedUnitsLastYear",
                                        "CustomerReturns", "FreeReplacements", "SubcategorySalesRank",
                                        "SubcategoryBetterWorse", "AverageSalesPrice", "AverageSalesPricePriorPeriod",
                                        "ChangeInGlanceViewPriorPeriod", "ChangeInGlanceViewLastYear", "RepOos",
                                        "RepOosOfTotal", "RepOosPriorPeriod", "LbbPrice", "ReportingRange", "ViewingDate", "ViewingDateEnd",
                                        "DistributorView", "SalesView", "InsertedAt")
        values (#{asin},#{productTitle},#{shippedCogs},#{shippedCogsOfTotal},
                #{shippedCogsPriorPeriod},#{shippedCogsLastYear},#{shippedUnits},
                #{shippedUnitsOfTotal},#{shippedUnitsPriorPeriod},#{shippedUnitsLastYear},
                #{customerReturns},#{freeReplacements},#{SubcategorySalesRank},
                #{SubcategoryBetterWorse},#{AverageSalesPrice},#{AverageSalesPricePriorPeriod},
                #{ChangeInGlanceViewPriorPeriod},#{ChangeInGVLastYear},#{RepOOS},
                #{RepOOSofTotal},#{RepOOSPriorPeriod},#{LBBPrice},#{reportingRange},#{viewingDate}, #{viewingDateEnd},
                #{distributorView}, #{salesView}, getdate())
    </update>

</mapper>