<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.amazon.mapper.AmzVcDailyInventoryMapper">
    <resultMap id="BaseResultMap" type="com.spider.amazon.entity.AmzVcDailyInventory">
        <result column="Asin" jdbcType="VARCHAR" property="asin"/>
    </resultMap>

    <sql id="Base_Column_List">
        *
    </sql>

    <update id="insert" parameterType="com.spider.amazon.entity.AmzVcDailyInventory">
        insert into AmazonVCDailyInventory
        ("Asin", "ProductTitle",
         "NetReceived", "NetReceivedUnits",
         "SellThroughRate", "OpenPurchaseOrderQuantity", "SellableOnHandInventory",
         "SellableOnHandInventoryTrailing30DayAverage", "SellableOnHandUnits",
         "UnsellableOnHandInventory",
         "UnsellableOnHandInventoryTrailing30DayAverage", "UnsellableOnHandUnits",
         "Aged90+DaysSellableInventory",
         "Aged90+DaysSellableInventoryTrailing30DayAverage",
         "Aged90+DaysSellableUnits", "ReplenishmentCategory", "AvailableInventory",
         "UnhealthyInventory",
         "UnhealthyUnits",
         "NetReceivedNum",
         "NetReceivedUnitsNum",
         "SellThroughRateNum",
         "OpenPurchaseOrderQuantityNum",
         "SellableOnHandInventoryNum",
         "SellableOnHandInventoryTrailing30DayAverageNum",
         "SellableOnHandUnitsNum",
         "UnsellableOnHandInventoryNum",
         "UnsellableOnHandInventoryTrailing30DayAverageNum",
         "UnsellableOnHandUnitsNum",
         "Aged90+DaysSellableInventoryNum",
         "Aged90+DaysSellableInventoryTrailing30DayAverageNum",
         "Aged90+DaysSellableUnitsNum",
         "AvailableInventoryNum",
         "UnhealthyInventoryNum",
         "UnhealthyUnitsNum",
         "DistributorView", "ReportingRange", "ViewingDate", "ViewingDateEnd", "InsertedAt")
        values (#{asin}, #{productTitle},
                #{netReceived}, #{netReceivedUnits},
                #{sellThroughRate}, #{openPurchaseOrderQuantity}, #{sellableOnHandInventory},
                #{sellableOnHandInventoryTrailing30DayAverage}, #{sellableOnHandUnits},
                #{unsellableOnHandInventory},
                #{unsellableOnHandInventoryTrailing30DayAverage}, #{unSellableOnHandUnits},
                #{aged90DaysSellableInventory},
                #{aged90DaysSellableInventoryTrailing30DayAverage},
                #{aged90DaysSellableUnits}, #{replenishmentCategory}, #{availableInventory},
                #{unhealthyInventory}, #{unhealthyUnits},
                dbo.AmazonNumberStrToFloat(#{netReceived}),
                dbo.AmazonNumberStrToFloat(#{netReceivedUnits}),
                dbo.AmazonNumberStrToFloat(#{sellThroughRate}),
                dbo.AmazonNumberStrToFloat(#{openPurchaseOrderQuantity}),
                dbo.AmazonNumberStrToFloat(#{sellableOnHandInventory}),
                dbo.AmazonNumberStrToFloat(#{sellableOnHandInventoryTrailing30DayAverage}),
                dbo.AmazonNumberStrToFloat(#{sellableOnHandUnits}),
                dbo.AmazonNumberStrToFloat(#{unsellableOnHandInventory}),
                dbo.AmazonNumberStrToFloat(#{unsellableOnHandInventoryTrailing30DayAverage}),
                dbo.AmazonNumberStrToFloat(#{unSellableOnHandUnits}),
                dbo.AmazonNumberStrToFloat(#{aged90DaysSellableInventory}),
                dbo.AmazonNumberStrToFloat(#{aged90DaysSellableInventoryTrailing30DayAverage}),
                dbo.AmazonNumberStrToFloat(#{aged90DaysSellableUnits}),
                dbo.AmazonNumberStrToFloat(#{availableInventory}),
                dbo.AmazonNumberStrToFloat(#{unhealthyInventory}),
                dbo.AmazonNumberStrToFloat(#{unhealthyUnits}),
                #{distributorView}, #{reportingRange}, #{viewingDate}, #{viewingDateEnd}, getdate())
    </update>


</mapper>