<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.amazon.mapper.AmzVcDailySalesMapper">
    <resultMap id="BaseResultMap" type="com.spider.amazon.entity.AmzVcDailySales">
        <result column="Asin" jdbcType="VARCHAR" property="asin"/>
    </resultMap>

    <sql id="Base_Column_List">
        *
    </sql>

    <update id="insert" parameterType="com.spider.amazon.entity.AmzVcDailySales">
        insert into AmazonVCDailySales ("Asin", "ProductTitle", "ShippedCogs", "ShippedCogsOfTotal",
                                        "ShippedCogsPriorPeriod", "ShippedCogsLastYear", "ShippedUnits",
                                        "ShippedUnitsOfTotal", "ShippedUnitsPriorPeriod", "ShippedUnitsLastYear",
                                        "CustomerReturns", "FreeReplacements", "SubcategorySalesRank",
                                        "SubcategoryBetterWorse", "AverageSalesPrice", "AverageSalesPricePriorPeriod",
                                        "ChangeInGlanceViewPriorPeriod", "ChangeInGlanceViewLastYear", "RepOos",
                                        "RepOosOfTotal", "RepOosPriorPeriod", "LbbPrice",
                                        "ShippedCogsNum", "ShippedCogsOfTotalNum",
                                        "ShippedCogsPriorPeriodNum", "ShippedCogsLastYearNum", "ShippedUnitsNum",
                                        "ShippedUnitsOfTotalNum", "ShippedUnitsPriorPeriodNum", "ShippedUnitsLastYearNum",
                                        "CustomerReturnsNum", "FreeReplacementsNum", "SubcategorySalesRankNum",
                                        "SubcategoryBetterWorseNum", "AverageSalesPriceNum", "AverageSalesPricePriorPeriodNum",
                                        "ChangeInGlanceViewPriorPeriodNum", "ChangeInGlanceViewLastYearNum", "RepOosNum",
                                        "RepOosOfTotalNum", "RepOosPriorPeriodNum", "LbbPriceNum"
            , "ReportingRange", "ViewingDate", "ViewingDateEnd",
                                        "DistributorView", "SalesView", "InsertedAt")
        values (#{asin},#{productTitle},#{shippedCogs},#{shippedCogsOfTotal},
                #{shippedCogsPriorPeriod},#{shippedCogsLastYear},#{shippedUnits},
                #{shippedUnitsOfTotal},#{shippedUnitsPriorPeriod},#{shippedUnitsLastYear},
                #{customerReturns},#{freeReplacements},#{SubcategorySalesRank},
                #{SubcategoryBetterWorse},#{AverageSalesPrice},#{AverageSalesPricePriorPeriod},
                #{ChangeInGlanceViewPriorPeriod},#{ChangeInGVLastYear},#{RepOOS},
                #{RepOOSofTotal},#{RepOOSPriorPeriod},#{LBBPrice},
                dbo.AmazonNumberStrToFloat(#{shippedCogs}),
                dbo.AmazonNumberStrToFloat(#{shippedCogsOfTotal}),
                dbo.AmazonNumberStrToFloat(#{shippedCogsPriorPeriod}),
                dbo.AmazonNumberStrToFloat(#{shippedCogsLastYear}),
                dbo.AmazonNumberStrToFloat(#{shippedUnits}),
                dbo.AmazonNumberStrToFloat(#{shippedUnitsOfTotal}),
                dbo.AmazonNumberStrToFloat(#{shippedUnitsPriorPeriod}),
                dbo.AmazonNumberStrToFloat(#{shippedUnitsLastYear}),
                dbo.AmazonNumberStrToFloat(#{customerReturns}),
                dbo.AmazonNumberStrToFloat(#{freeReplacements}),
                dbo.AmazonNumberStrToFloat(#{SubcategorySalesRank}),
                dbo.AmazonNumberStrToFloat(#{SubcategoryBetterWorse}),
                dbo.AmazonNumberStrToFloat(#{AverageSalesPrice}),
                dbo.AmazonNumberStrToFloat(#{AverageSalesPricePriorPeriod}),
                dbo.AmazonNumberStrToFloat(#{ChangeInGlanceViewPriorPeriod}),
                dbo.AmazonNumberStrToFloat(#{ChangeInGVLastYear}),
                dbo.AmazonNumberStrToFloat(#{RepOOS}),
                dbo.AmazonNumberStrToFloat(#{RepOOSofTotal}),
                dbo.AmazonNumberStrToFloat(#{RepOOSPriorPeriod}),
                dbo.AmazonNumberStrToFloat(#{LBBPrice}),
                #{reportingRange},#{viewingDate}, #{viewingDateEnd},
                #{distributorView}, #{salesView}, getdate())
    </update>

</mapper>