<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.amazon.mapper.IpPoolDOMapper">
  <resultMap id="BaseResultMap" type="com.spider.amazon.model.IpPoolDO">
    <id column="ip" jdbcType="VARCHAR" property="ip" />
    <id column="port" jdbcType="VARCHAR" property="port" />
    <id column="ip_type" jdbcType="VARCHAR" property="ipType" />
    <result column="secre_type" jdbcType="VARCHAR" property="secreType" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="respone_sp" jdbcType="VARCHAR" property="responeSp" />
    <result column="last_check_time" jdbcType="TIMESTAMP" property="lastCheckTime" />
    <result column="ip_status" jdbcType="VARCHAR" property="ipStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    ip, port, ip_type, secre_type, location, respone_sp, last_check_time, ip_status
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="com.spider.amazon.model.IpPoolDOKey">
    delete from IpPool
    where ip = #{ip,jdbcType=VARCHAR}
    and port = #{port,jdbcType=VARCHAR}
    and ip_type = #{ipType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.spider.amazon.model.IpPoolDO">
    insert into IpPool (ip, port, ip_type, 
      secre_type, location, respone_sp, 
      last_check_time, ip_status)
    values (#{ip,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, #{ipType,jdbcType=VARCHAR}, 
      #{secreType,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{responeSp,jdbcType=VARCHAR}, 
      #{lastCheckTime,jdbcType=TIMESTAMP}, #{ipStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spider.amazon.model.IpPoolDO">
    insert into IpPool
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ip != null">
        ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="ipType != null">
        ip_type,
      </if>
      <if test="secreType != null">
        secre_type,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="responeSp != null">
        respone_sp,
      </if>
      <if test="lastCheckTime != null">
        last_check_time,
      </if>
      <if test="ipStatus != null">
        ip_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="ipType != null">
        #{ipType,jdbcType=VARCHAR},
      </if>
      <if test="secreType != null">
        #{secreType,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="responeSp != null">
        #{responeSp,jdbcType=VARCHAR},
      </if>
      <if test="lastCheckTime != null">
        #{lastCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ipStatus != null">
        #{ipStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 批量插入 -->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into IpPool (<include refid="Base_Column_List" />)
    values
    <foreach collection="list" item="item" index="index"  separator=",">
      (#{item.ip,jdbcType=VARCHAR}, #{item.port,jdbcType=VARCHAR}, #{item.ipType,jdbcType=VARCHAR},
      #{item.secreType,jdbcType=VARCHAR}, #{item.location,jdbcType=VARCHAR}, #{item.responeSp,jdbcType=VARCHAR},
      #{item.lastCheckTime,jdbcType=TIMESTAMP}, #{item.ipStatus,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>