<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.amazon.mapper.VcPromotionInfoDOMapper">
    <resultMap id="BaseResultMap" type="com.spider.amazon.model.VcPromotionInfoDO">
        <result column="CrawId" jdbcType="VARCHAR" property="crawId"/>
        <result column="CreatedOn" jdbcType="TIMESTAMP" property="createdOn"/>
        <result column="PromotionId" jdbcType="VARCHAR" property="promotionId"/>
        <result column="Status" jdbcType="VARCHAR" property="status"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="StartDate" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="EndDate" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="Type" jdbcType="VARCHAR" property="type"/>
        <result column="HeroProduct" jdbcType="VARCHAR" property="heroProduct"/>
        <result column="VendorCode" jdbcType="VARCHAR" property="vendorCode"/>
        <result column="MarketPlace" jdbcType="VARCHAR" property="marketPlace"/>
        <result column="BillingContact" jdbcType="VARCHAR" property="billingContact"/>
        <result column="FundingAgreement" jdbcType="VARCHAR" property="fundingAgreement"/>
        <result column="MerchandisingFee" jdbcType="VARCHAR" property="merchandisingFee"/>
        <result column="CrawFlg" jdbcType="VARCHAR" property="crawFlg"/>
    </resultMap>
    <sql id="Base_Column_List">
        CrawId, CreatedOnStr, PromotionId, Status, Name, StartDateStr, EndDateStr, Type, HeroProduct,
    VendorCode, MarketPlace, BillingContact, FundingAgreement, MerchandisingFee,
    CrawFlg, CreatedOn, StartDate, EndDate
    </sql>

    <select id="existByPromotionId" parameterType="java.lang.String" resultType="java.lang.Boolean">
        SELECT count(*) FROM VcPromotionInfo WHERE PromotionId = #{promotionId}
    </select>

    <insert id="insert" parameterType="com.spider.amazon.model.VcPromotionInfoDO">
        insert into VcPromotionInfo (<include refid="Base_Column_List"/>)
        values (
        <choose>
            <when test="crawId != null">
                #{crawId,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="createdOnStr != null">
                #{createdOnStr,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="promotionId != null">
                #{promotionId,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="status != null">
                #{status,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="name != null">
                #{name,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="startDateStr != null">
                #{startDateStr,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="endDateStr != null">
                #{endDateStr,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="type != null">
                #{type,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="heroProduct != null">
                #{heroProduct,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="vendorCode != null">
                #{vendorCode,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="marketPlace != null">
                #{marketPlace,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="billingContact != null">
                #{billingContact,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="fundingAgreement != null">
                #{fundingAgreement,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="merchandisingFee != null">
                #{merchandisingFee,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="crawFlg != null">
                #{crawFlg,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>
        <choose>
            <when test="createdOn != null">
                #{createdOn,jdbcType=TIMESTAMP},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>)
    </insert>

    <insert id="insertSelective" parameterType="com.spider.amazon.model.VcPromotionInfoDO">
        insert into VcPromotionInfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="crawId != null">
                CrawId,
            </if>
            <if test="createdOnStr != null">
                CreatedOnStr,
            </if>
            <if test="promotionId != null">
                PromotionId,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="name != null">
                Name,
            </if>
            <if test="startDateStr != null">
                StartDateStr,
            </if>
            <if test="endDateStr != null">
                EndDateStr,
            </if>
            <if test="type != null">
                Type,
            </if>
            <if test="heroProduct != null">
                HeroProduct,
            </if>
            <if test="vendorCode != null">
                VendorCode,
            </if>
            <if test="marketPlace != null">
                MarketPlace,
            </if>
            <if test="billingContact != null">
                BillingContact,
            </if>
            <if test="fundingAgreement != null">
                FundingAgreement,
            </if>
            <if test="merchandisingFee != null">
                MerchandisingFee,
            </if>
            <if test="crawFlg != null">
                CrawFlg,
            </if>
            <if test="createdOn != null">
                CreatedOn,
            </if>
            <if test="startDate != null">
                StartDate,
            </if>
            <if test="endDate != null">
                EndDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="crawId != null">
                #{crawId,jdbcType=VARCHAR},
            </if>
            <if test="createdOnStr != null">
                #{createdOnStr,jdbcType=VARCHAR},
            </if>
            <if test="promotionId != null">
                #{promotionId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{Status,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{Name,jdbcType=VARCHAR},
            </if>
            <if test="startDateStr != null">
                #{startDateStr,jdbcType=VARCHAR},
            </if>
            <if test="endDateStr != null">
                #{endDateStr,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="heroProduct != null">
                #{heroProduct,jdbcType=VARCHAR},
            </if>
            <if test="vendorCode != null">
                #{vendorCode,jdbcType=VARCHAR},
            </if>
            <if test="marketPlace != null">
                #{marketPlace,jdbcType=VARCHAR},
            </if>
            <if test="billingContact != null">
                #{billingContact,jdbcType=VARCHAR},
            </if>
            <if test="fundingAgreement != null">
                #{fundingAgreement,jdbcType=VARCHAR},
            </if>
            <if test="merchandisingFee != null">
                #{merchandisingFee,jdbcType=VARCHAR},
            </if>
            <if test="crawFlg != null">
                #{crawFlg,jdbcType=VARCHAR},
            </if>
            <if test="createdOn != null">
                #{createdOn,jdbcType=TIMESTAMP},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into VcPromotionInfo (<include refid="Base_Column_List"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <choose>
                <when test="item.crawId != null">
                    #{item.crawId,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.createdOnStr != null">
                    #{item.createdOnStr,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.promotionId != null">
                    #{item.promotionId,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.status != null">
                    #{item.status,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.name != null">
                    #{item.name,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.startDateStr != null">
                    #{item.startDateStr,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.endDateStr != null">
                    #{item.endDateStr,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.type != null">
                    #{item.type,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.heroProduct != null">
                    #{item.heroProduct,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.vendorCode != null">
                    #{item.vendorCode,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.marketPlace != null">
                    #{item.marketPlace,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.billingContact != null">
                    #{item.billingContact,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.fundingAgreement != null">
                    #{item.fundingAgreement,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.merchandisingFee != null">
                    #{item.merchandisingFee,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.crawFlg != null">
                    #{item.crawFlg,jdbcType=VARCHAR},
                </when>
                <otherwise>
                    '',
                </otherwise>
            </choose>
            <choose>
                <when test="item.createdOn != null">
                    #{item.createdOn,jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.startDate != null">
                    #{item.startDate,jdbcType=TIMESTAMP},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.endDate != null">
                    #{item.endDate,jdbcType=TIMESTAMP}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
</mapper>